@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex flex-row items-center justify-center;
  }
  .section-main {
    @apply mt-30pxr flex flex-col gap-20pxr tablet:mt-60pxr;
  }
  .box {
    @apply flex-center flex-col gap-25pxr rounded-2xl px-20pxr py-25pxr shadow-header tablet:items-start tablet:gap-50pxr tablet:px-50pxr tablet:py-50pxr pc:px-100pxr;
  }
  .modal {
    @apply absolute-center z-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .line-over {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .title-line-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .grid-cols-3-350 {
    grid-template-columns: repeat(3, minmax(226px, 350px));
  }

  .scroll::-webkit-scrollbar {
    /*  background-color: white; */
    width: 5px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
    border-radius: 30px;
  }
  .scroll::-webkit-scrollbar-track {
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .detail-h3 {
    @apply mb-10pxr text-black font-body1-bold tablet:font-title2-bold;
  }
  .detail-text {
    @apply font-caption1-semibold tablet:font-body2-semibold;
  }
}

.mySwiper .swiper-slide {
  filter: brightness(50%);
}

.mySwiper .swiper-slide-thumb-active {
  filter: brightness(100%);
}

.p_function_title {
  @apply mb-10pxr !list-none font-body2-semibold tablet:font-body1-bold;
}

/* 역할 스타일 */

.my-role li {
  list-style: inside;
}

.my-role li ul li {
  list-style: inside;
}

/* swiper */

.navigation-color {
  --swiper-navigation-color: #b6b2b2;
  --swiper-pagination-color: blue;
}

.swiper-pagination-bullet {
  background-color: #9aa4ff !important;
}
